<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/shared/header :: header}"/>
</head>

<body>

<div th:replace="~{/shared/header :: navbar}"/>


    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- FAQ Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div th:each="faq : ${faqs}">
                <div class="accordion" id="faqAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqOne"><td th:text="${faq.name}"></td></button>
                        </h2>
                        <div id="faqOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <td th:text="${faq.description}"></td>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ Section End -->

<div th:replace="~{/shared/footer :: footerOt}"/>

<div th:replace="~{/shared/footer :: scriptOt}"/>

</body>
</html>