<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/admin/shared/header :: header}"/>
</head>
<body>

<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/admin/shared/header :: sidebar}"/>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar Header -->
        <div th:replace="~{/admin/shared/header :: navbar-header}"/>

        <!-- End Navbar -->
        <div class="container">
            <h3>Order Detail Directory</h3>
            <hr>
            <p class="h4 mb-4">Save Order Detail</p>

            <form action="#" th:action="@{/orderdetail/save}" th:object="${orderdetail}" method="POST">
                <!-- Add hidden form field to handle update -->
                <input type="hidden" th:field="*{orderdetailid}" />

                <input type="text" th:field="*{quantity}" class="form-control mb-4 col-4" placeholder="Quantity">
                <input type="text" th:field="*{price}" class="form-control mb-4 col-4" placeholder="Price">

                <!-- Dropdown for selecting Order -->
                <select th:field="*{order.orderid}" class="form-control mb-4 col-4">
                    <option th:each="order : ${orders}" th:value="${order.orderid}" th:text="${order.orderid}"></option>
                </select>

                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>

            <hr>
            <a href="/orderdetail/list">Back to Order Detail List</a>
        </div>

        <!-- Footer -->
        <div th:replace="~{/admin/shared/footer :: footer}"/>

    </div>
</div>

<!--   Core JS Files   -->
<div th:replace="~{/admin/shared/header :: script}"/>
</body>
</html>
